<div id="wtf">
  <form action="<%= wtf_path %>" class="wtf_form" method="post">
   <input type="text" name="zip" value="60654">
   <input type="submit" value="WTF should I do this weekend?">
  </form>
</div>
